<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB86wv4LSoZZ5OAHwOd3E_hi3V8krZ6A_s</string>
	<key>GCM_SENDER_ID</key>
	<string>269956440741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendity</string>
	<key>PROJECT_ID</key>
	<string>attendity-20f5b</string>
	<key>STORAGE_BUCKET</key>
	<string>attendity-20f5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269956440741:ios:143c2deb2b13efc28b634c</string>
</dict>
</plist>